<h2>Weather Forecast for <%= @address %></h2>

<h4>Current Temperature</h4>
<h1><%= @weather_data['temp'].round %>째F</h1>
<p>Feels like: <strong><%= @weather_data['feels_like'].round %>째F</strong></p>

<p>Humidity: <strong><%= @weather_data['humidity'] %>%</strong></p>

<h4>Temperature Range: </h4>
<p>Low: <strong><%= @weather_data['temp_min'].round %>째F</strong> | High: <strong><%= @weather_data['temp_max'].round %>째F</strong></p>

<%= link_to "Search Again", weather_index_path %>
