<h2>Weather Forecast</h2>

<% if flash[:alert] %>
  <div style="color: red"><%= flash[:alert] %></div>
<% end %>

<%= form_with url: weather_forecast_path, method: :get, local: true do |f| %>
  <div>
    <%= f.label :address, "Enter Street Address:" %>
    <%= f.text_field :address, placeholder: "123 Main St, City, State" %>
  </div>
  <div>
    <%= f.submit "Get Forecast" %>
  </div>
<% end %>
